@{
    ViewData["Title"] = "Home Page";
}

<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Sistema de Chamada</h1>
</div>
<div class="container">
    <div class="m-5">
        <h3 style="color: #0168B3" class="m-5 text-center">Bem - Vindo</h3>
        <img class="imagemTamanho float-left mb-2" />
        <p class="textoTamanho">
            Registre sua chamada também de forma simple e rápida por meio do nosso site!<br />                    

        </p>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>