@{
    ViewData["Title"] = "Home Page";
}

<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Gerenciador de chamada</h1>
</div>

<div class="container" style="display:flex">
    <div class="conteudo-img"  style="margin-top:15px" >
        <img src="~/Imagens/foto1.jpg" style="width:400px"/>
    </div>
    <div class="conteudo-texto">

    </div>
    <div class="m-5">
        <h1 style="color: #0168B3">Sistema automático de presença</h1>
        <p class="textoTamanho" style="text-align:justify">
           Construímos um dispositivo capaz de registrar a presença do aluno apenas por bater o cartão!<br /><br />
           Além de registrar a presença, o registrador também é capaz de capturar uma foto da pessoa que está passando<br />
        </p>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>