@model ProfessorViewModel

<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Editar Professor</h1>
</div>


<form action="Salvar" method="post" class="form-group" style="display:flex; align-items:center; width:100%; justify-content: center">
    <div class="conteudo" style="width:65%">
        <label for="Id" class="control-label" style="color: #0168B3">RA</label>
        <input type="number" Name="IdProfessor" value="@Model.IdProfessor" class="form-control"  />
        <br />
        <label for="Nome" class="control-label" style="color: #0168B3">Nome do aluno</label>
        <input type="text" Name="nomeProfessor" value="@Model.nomeProfessor" class="form-control" />
        <br />
        <div class="buttons" style="display:flex; justify-content:space-between">
            <input type="submit" value="Salvar" class="btn btn-success" style="width:45%" />
            <input type="submit" value="Excluir" class="btn btn-danger" style="width:45%" />
        </div>
    </div>
    <br />
</form>

