@model List<ProfessorViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Lista Professores</h1>
</div>

<div class="conteudo" style="display:flex; align-items:center; justify-content:center; width:100%; margin-top:10px">
    <div class="conteudo-2">
        <a href="/professor/Create">Cadastro novo Professor</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/professor/Configuracoes">Voltar</a>
        <table class="table table-responsive table-hover">
            <tr style="color: #0168B3">
                <th>Ações</th>
                <th>Foto</th>
                <th>RE</th>
                <th>Nome</th>
            </tr>
            @foreach (var Professor in Model)
            {
                <tr>
                    <td>
                        <a href="/professor/Edit?id=@Professor.Id">Editar</a>
                        <a href="javascript:apagarProfessor(@Professor.Id)">Excluir</a>
                    </td>
                    <td> <img class="imagem-vitrine" onchange="exibirImagem()" src="data:image/jpeg;base64;@Professor.ImagemEmBase64" height="42" width="42" /></td>
                    <td>@Professor.Id</td>
                    <td>@Professor.Nome</td>
                </tr>
            }
        </table>

        <script>
            function apagarProfessor(id) {
                if (confirm('Confirma a exclusão do registro?'))
                    location.href = '/Professor/delete?id=' + id;
            }
        </script>

    </div>
</div>


<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>
