@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="titulo" style="display:flex; align-items:center; justify-content:center">
    <h1 style="color: #0168B3">Configurações</h1>
</div>

<div class="row row-cols-3 row-cols-md-3 g-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MATÉRIAS</h5>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PROFESSORES</h5>
                <a href="/professor/lista" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ALUNOS</h5>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>
