@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="titulo">
    <h1 style="color: #0168B3">Configurações</h1>
</div>

<div class="cards">
    <div class="card first" style="height:100px; width:100px; background-color:blue"></div>
    <div class="card first" style="height:100px; width:100px; background-color:blue"></div>
    <div class="card first" style="height:100px; width:100px; background-color:blue"></div>
</div>