<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Home"] - projeto_rfid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container_navbar" style="display:flex; width:100%">
            <div class="logo_holder" style="width:30%; align-items:center; justify-content:center; display:flex">
                <a href="../"> <img src="http://faculdadesalvadorarena.org.br/wp-content/uploads/2019/10/logo_novo.jpg" alt="Logo Faculdade" /> </a>

            </div>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" style="background-color: rgb(1, 104, 179); width: 70%; height: 73px; clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);">
                <div class="container" style="margin-left: 15px">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a href="/home/Index" class="nav-link text-white">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a href="/home/Sobre" class="nav-link text-white">SOBRE NÓS</a>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <div class="container" style="display:flex; align-items:center; justify-content:center; margin-top:15px">
        <main role="main" class="pb-3" style="width:100%">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - projeto_rfid - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
