<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Home"] - projeto_rfid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container_navbar" style="display:flex; width:100%">
            <div class="logo_holder" style="width:30%; align-items:center; justify-content:center; display:flex">
                <a href="../"> <img src="http://faculdadesalvadorarena.org.br/wp-content/uploads/2019/10/logo_novo.jpg" alt="Logo Faculdade" /> </a>

            </div>


            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" style="background-color: rgb(1, 104, 179); width: 70%; height: 73px; clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);">
                <div class="container" style="margin-left: 15px">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a href="/login/Index" class="nav-link text-white">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a href="/home/Sobre" class="nav-link text-white">SOBRE NÓS</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="/dashboard/Index" class="nav-link text-white">DASHBOARDS</a>
                            </li>
                            <!-- Trigger the modal with a button -->
                            <li class="nav-item">
                                <a href="" type="button" class="nav-link text-white" data-toggle="modal" data-target="#loginModal">ENTRAR</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </header>


    <div class="container" style="display:flex; align-items:center; justify-content:center; margin-top:15px">
        <!-- Modal -->
        <div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background-color:#FFE264">
                    <div class="modal-headerX" style="display: flex; flex-flow: column; align-items: center; padding: 1rem 1rem;">
                        <div class="x-button" style="width: 100%">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="logo" style="display:flex">
                            <img id="logoLogin" style="display: flex; width: 100%; align-items: center; justify-content: center;" src="https://aluno.cefsa.edu.br/Content/images/logotipos/cefsa.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="modal-body">

                        <form asp-action="Save" enctype="multipart/form-data" class="form-group" style="display:flex; align-items:center; width:100%; justify-content: center">
                            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
                            <div class="conteudo"  style="padding:20px; width:100%">
                                <input placeholder="RA" type="number" Name="id" value="" class="form-control" style="border-radius:14px" />
                                <!--<input asp-for="id" class="form-control" />-->
                                <span class="text-danger"></span>
                                <br />
                                <input placeholder="Senha" type="password" Name="Nome" value="" class="form-control" style="border-radius:14px" />
                                <!--<input asp-validation-for="Nome" class="form-control" />-->
                                <span class="text-danger"></span>
                                <br />

                                <div class="modal-footerX">
                                    <input type="submit" value="Entrar" class="btn btn-success" style="width: 100%; margin-top: 1.5rem; border-radius: 14px" />
                                    <a href="aluno/create">Cadastrar uma conta</a>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3" style="width:100%">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="display:flex; align-items:center; justify-content:center">
            &copy; 2022 - Trabalho Interdisciplinar - <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
